# Credenciales de correo para enviar alertas
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=tu_correo@gmail.com
SMTP_PASS=tu_contraseña_de_aplicacion

# Destinatario(s) de las alertas (separados por coma)
ALERT_RECIPIENTS=socio1@empresa.com,socio2@empresa.com

# (Opcional) URL inicial del portal, por si cambia
COMPRAR_URL=https://comprar.gob.ar/

# Credenciales de Telegram (Opcional)
# Para crear un bot, habla con @BotFather en Telegram
TELEGRAM_BOT_TOKEN=tu_token_de_telegram
# El ID del chat o grupo donde el bot enviará el mensaje
TELEGRAM_CHAT_ID=tu_chat_id
